<ion-view title="{{'aboutUs' | translate}}">
  <ion-content>
    <div class="row">
      <div class="col text">
        <p>ಕಡಬ ಪರಿಸರದ ಎಲ್ಲಾ ಆಗುಹೋಗುಗಳನ್ನು ಅಕ್ಷರ ರೂಪದಲ್ಲಿ ಮತ್ತು ವೀಡಿಯೋ ರೂಪದ ಮೂಲಕ ಕ್ಷಣಾರ್ಧದಲ್ಲಿ ಜನರಿಗೆ ತಲುಪಿಸುವ ಉದ್ದೇಶದಿಂದ newskadaba.com ನ್ನು ಪ್ರಾರಂಭಿಸಲಾಗಿದೆ. ನಿಮ್ಮೂರಿನ ಯಾವುದೇ ಸಮಸ್ಯೆಗಳಿದ್ದಲ್ಲಿ, ದೂರುಗಳಿದ್ದಲ್ಲಿ, ಸಭೆ - ಸಮಾರಂಭಗಳ ಸುದ್ದಿ, ಜಾಹೀರಾತು ಎಲ್ಲವನ್ನೂ newskadaba@gmail.com ಗೆ email ಅಥವಾ +91 9743 493 943 ಸಂಖ್ಯೆಗೆ Whatsapp ಮೂಲಕ ಕಳುಹಿಸಿ. </p>
        <p> This app is built by <a href="https://thewebpeople.in"> The Web People</a></p>
      </div>
    </div>
  </ion-content>
  </ion-view>
